@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

$header-font-stack: 'Aguafina Script', cursive;
$font-stack: 'monospace';
$bar-color: #555a5e;
$button-color: #0560ac;
$button-color-hover: #1d7cbb;
$input-background: #4d4747;